.small-background {
  margin: 50px auto;
  padding-top: 40px;
  background: #ffffff;
  width: 80%;
  min-height: 700px;

  .detail {
    display: flex;
    margin-top: 50px;
  }

  .image-wall {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .image-small {
    margin-top: 20px;
    display: flex;
    cursor: pointer;
  }

  .right-detail {
    display: flex;
    flex-direction: column;
    margin-left: 15%;

    .sell-username {
      padding-left: 20px;
      padding-top: 10px;
    }

    .detail-title {
      padding-top: 10px;
      font-size: 25px;
      font-weight: bold;
      text-align: left;
    }

    .detailIntro {
      padding-top: 10px;
      color: #616776;
      font-size: 15px;
      text-align: left;
    }

    .a {
      text-align: left;
      padding-top: 10px;
      font-size: 20px;
    }
  }
}

.ant-comment-actions {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.comment-wall {
  float: left;
  margin-top: 10%;
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
}

.arrow-left {
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px
}
