.Carousel-image{
  margin-left: 10px;
  width: 1000px;
}
.ant-carousel .slick-slide {
  height: 347px;
  background: #CACACA;
  overflow: hidden;
}
.s{
  color: red;
}
.ParentFather{
  display: flex;
}

